/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	@font-face {
		font-family: 'Open Sans';
		src: url(fonts/Open_Sans/OpenSans-VariableFont.ttf) format('truetype');
	}
	@font-face {
		font-family: 'raleway';
		src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf);
	}
	/* a {
		@apply hover:underline hover:text-blue;
	} */
	/* html {
		@apply font-normal;
	} */
}
